html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #011c31;
}

h3,
h4 {
  color: #0369a1;
}

h3 {
  margin: 10px 0 0 0;
}

h4 {
  font-size: 15px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 40px auto;
  width: 642px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 1px 1p 5px 2px #bae6fd;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #4581a8;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: #054764;
  background-color: #a1c1d7;
}

img {
  width: 150px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #cdb5e1;
}

.purchased {
  opacity: 0.5;
}

.on-offer {
  border: 4px solid lime;
}

.clear-btn {
  margin-left: 40px;
  margin-top: 40px;
}
